.recipe-page-title {
  text-align: left;

}
.recipe-content {
  margin: 10px;
  text-align: left;
}
.recipePageMain {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
}